@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
}

html, body {
  background: #f3f3f3;
  box-sizing: border-box !important;
}

.container {
  width: 95%;
  margin: auto;
}

.link:hover {
  color: #1876D2;
}

nav ul button {
  text-transform: capitalize !important;
  color: rgba(0,0,0,0.7) !important;
}

nav ul button:hover {
  text-transform: capitalize !important;
  color: #d3003f !important;
}

.homeCatSlider .swiper-button-prev,
.homeCatSlider .swiper-button-next {
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  background-color: #1876D2;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeCatSlider .swiper-button-prev::after {
  font-size: 16px;
}

.homeCatSlider .swiper-button-next::after {
  font-size: 16px;
}

.homeCatSlider .item:hover img {
  transform: scale(1.1);
}

::-webkit-scrollbar {
  height: 10px !important;
  width: 3px !important;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
}
::-webkit-scrollbar-track {
  background: #fff;
}

.MuiTabs-indicator {
  background-color: #4a0bdc !important;
}

.MuiTab-textColorPrimary {
  color: rgb(44, 43, 45) !important;
}

.Mui-selected {
  color: #4a0bdc !important;
}

.MuiFormControlLabel-label {
  font-size: 14px !important;
  line-height: 12px !important;
}

.homeSlider .swiper-slide-active .info {
  right: 0px !important;
  opacity: 1 !important;
}

.homeSlider .swiper-slide-active .info h4 {
  right: 0px !important;
  opacity: 1 !important;
}

.homeSlider .swiper-slide-active .info h3 {
  right: 0px !important;
  opacity: 1 !important;
}

.homeSlider .swiper-slide-active .info h2 {
  right: 0px !important;
  opacity: 1 !important;
}

.homeSlider .swiper-slide-active .info .btn {
  right: 0px !important;
  top: 0px !important;
  opacity: 1 !important;
}

.MuiCheckbox-root {
  padding: 6px !important;
}

.sidebar .scrollCategory::-webkit-scrollbar {
  width: 5px !important;
}

.ReactCollapse--collapse {
  transition: height 400ms ease-in-out !important;
}
.range-slider__range {
    background: #8331ff !important;
    transition: height .3s;
}
.range-slider {
  height: 3px !important;
}
.range-slider .range-slider__thumb {
    background: #5407fa !important;
    transition: transform .3s;
    width: 14px !important;
    height: 14px !important;
}
.range-slider__thumb[data-active] {
    transform: translate(-50%, -50%) scale(1.25);
}
.range-slider__range[data-active] {
    height: 16px;
}

.pagination-btn .Mui-selected {
  background-color: #1876D2 !important;
  color: white !important;
}

.pagination-btn .MuiButtonBase-root:hover {
  color: #eef1f4 !important;
  background-color: #1876D2 !important;
}

.zoomProductSlider {
  height: 500px !important;
  margin: auto !important;
  overflow: hidden !important;
  border-radius: 0px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.zoomProductSlider .swiper-button-next {
  bottom: 0px !important;
  left: inherit !important;
  top: inherit !important;
  transform: rotate(90deg) !important;
  background-color: transparent !important;
  color: rgb(0, 0, 0) !important;
  height: 100px !important;
  width: 1.5rem !important;
  bottom: -40px !important;
  padding: 5px !important;
  margin: auto !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.zoomProductSlider .swiper-button-prev {
  bottom: inherit !important;
  left: 10px !important;
  top: -40px !important;
  margin: auto !important;
  height: 100px !important;
  transform: rotate(90deg) !important;
  background-color: transparent !important;
  color: rgb(0, 0, 0) !important;
  width: 1.5rem !important;
  padding: 5px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.zoomProductSlider .swiper-button-prev::after, 
.zoomProductSlider .swiper-button-next::after {
  font-size: 12px !important;
}

.size-btns button {
  border: 1px solid #d6d6d6 !important;
  color: rgb(48, 48, 48);
  font-weight: 500 !important;
  max-width: 35px !important;
  width: 35px !important;
  min-width: 35px !important;
  height: 35px !important;
  max-height: 35px !important;
  min-height: 35px !important;
}

.active-size {
  background-color: #ff173a !important;
  color: white !important;
  border: none !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.qty-btns button {
  border: 1px solid black !important;
}

.zoomSwiper {
  width: 100% !important;
}

.cartPanel .MuiPaper-root {
  width: 400px !important;
  display: flex !important;
  align-items: start !important;
  justify-content: space-between !important;
  height: 100vh !important;
}

.user .btn {
  color: rgb(66, 65, 65) !important;
  background-color: transparent !important;
}

#account-menu .MuiPaper-root {
  width: 250px !important;
}

.myAccountTabs li a {
  position: relative;
  display: block;
}

.myAccountTabs li a::before {
  content: '';
  width: 3px;
  height: 50%;
  position: absolute;
  top: 50%;
  transform: all 1s ease-in-out !important;
  opacity: 0;
  left: 0px;
  background: #ff5526;
}

.myAccountTabs li a.active::before {
  height: 100%;
  opacity: 1;
  top: 0px;
}

.myAccountTabs li a.active button svg {
  color: #ff5526;
}

.btn-sm {
  font-size: 14px !important;
  padding: 5px 8px !important;
}

.react-international-phone-input {
  width: 100% !important;
  height: 2.6rem !important;
}

.react-international-phone-country-selector-button {
  width: 55px !important;
  height: 2.6rem !important;
}

.react-international-phone-input-container:focus-within
  .react-international-phone-input,
.react-international-phone-input-container:focus-within
  .react-international-phone-country-selector-button {
  border: 1px solid black !important;
}

.MuiDialog-paper {
  width: 700px !important;
  max-width: 700px !important;
}